// font-family: 'PT Serif', serif;
// font-family: 'Work Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,900;1,600&display=swap');

:root {
    --bg-color: #121B25;
    --bg-btn: #1AA090;
    --color-text: #d6d6d6;
    --font-workSans: font-family: 'PT Serif', serif;
    --font-workans-bold: font-family: 'Work Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 1080px) and (max-width: 768px) {
    img {
        display: none;
        height: 100%;
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: #fff;
    font-family: 'Work Sans',
        sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

button {
    cursor: pointer;
}

[class*="__container"] {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 25px;

    @media (max-width: 1080px) {
        display: flex;
        flex-direction: column;
    }
}

// HEADER

.header {
    padding: 40px 0;
    width: 100%;



    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

}

.header__logo {
    max-width: 200px;

    img {
        max-width: 100%;
    }
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
}

.header__menu {}

.menu {}

.menu__body {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu__item {}

.menu__link {
    color: var(--color-text);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s ease;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -7px;
        height: 3px;
        left: 0;
        right: 0;
        width: 0;
        background-color: var(--bg-btn);

        transition: 0.2s ease;
    }

    &:hover::before {
        width: 100%;
    }

    &:hover {
        color: #fff
    }
}

.header__buttons {
    display: flex;
    gap: 8px;

    .header__btn {
        color: #D6D6D6;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        padding: 11px 29px;
        border: 1px solid var(--bg-btn);
        font-family: 'Work Sans', sans-serif;


        &:nth-child(1) {
            background-color: var(--bg-color);
            transition: 0.2s ease;

            &:hover {
                background-color: var(--bg-btn);
                color: #fff;
            }
        }

        &:nth-child(2) {
            background-color: var(--bg-btn);
            transition: 0.2s ease;

            &:hover {
                background-color: var(--bg-color);
                color: #fff;
            }
        }
    }
}

.close {
    @media (max-width: 1080px) {
        display: block;
    }

    font-size: 42px;
    position: absolute;
    right: -92px;
    bottom: 382px;
    display: none;
}

// BURGER

.menu__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}


// MEDIA PHONE

@media (max-width: 1080px) {
    body {
        padding: 0;
    }

    .header__navigation {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: var(--bg-btn);
        top: 0;
        left: -100%;

        transition: 0.3s ease-in;

        display: flex;
        flex-direction: column;

        .header__buttons {
            position: absolute;
            bottom: 22px;

            .header__btn {
                padding: 10px 18px;
            }
        }

        .menu__body {
            display: flex;
            flex-direction: column;
            padding: 12px 0;

            position: relative;
            top: 122px;

            li {
                a {
                    font-size: 18px;
                }
            }
        }
    }

    .menu__icon {
        display: block;
        position: absolute;
        right: 8px;
        top: 40px;

        .bx {
            font-size: 48px;
        }
    }
}

.body._active::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.7;
    overflow: hidden;
    visibility: hidden;
}

.header__navigation.active {
    left: 0;
}

// HERO

.page {
    .hero__green {
        position: absolute;
        bottom: 40px;
        right: 0;
        z-index: -1;
    }

    .hero {
        overflow: hidden;
        position: relative;
        padding-bottom: clamp(1.25rem, 0.011rem + 6.19vw, 5.625rem);

        .hero__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hero__content {


            @media (max-width: 1080px) {
                padding: 42px;
            }

            padding-bottom: 160px;
            flex: 0 0 calc(700px / 1420px * 100%);

            .hero__text {
                display: flex;
                flex-direction: column;
                margin-top: 18px;
            }
        }

        .hero__filter {
            width: 889px;
            height: 100px;
            flex-shrink: 0;
        }

        .hero__title {
            color: #FFF;
            font-family: 'PT Serif', serif;
            font-size: clamp(2.5rem, 2.146rem + 1.77vw, 3.75rem);
            font-weight: 600;
            line-height: 126%;
            /* 85.68px */
            text-transform: capitalize;
        }

        .text {
            color: #D6D6D6;
            font-family: Work Sans;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            /* 30.6px */
        }

        .filter {
            position: relative;
            width: 889px;
            height: 100px;
            color: #000;
            background-color: #fff;
            margin-top: 60px;
            position: absolute;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 164px;

            //            MEDIA

            @media (max-width: 1080px) {
                padding: 5px;
                width: 100%;
                position: static;
            }

            @media (max-width: 710px) {
                grid-template-columns: repeat(3, 1fr);
                height: auto;
                padding: 0 8px;
            }

            .filter__btn {
                @media (max-width: 710px) {
                    grid-column: 1/4;
                }

                padding: 5px;

                button {
                    @media (max-width: 710px) {
                        padding: 8px 0;
                    }

                    color: #FFF;
                    font-family: Work Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;

                    width: 100%;
                    height: 100%;

                    border: none;
                    background-color: var(--bg-btn);

                    transition: 0.2s ease;

                    cursor: pointer;

                    &:hover {
                        background-color: #129484;
                    }
                }
            }

            .filter__block {
                position: relative;
                border-left: 1px solid #E8E8E8;
                border-right: 1px solid #E8E8E8;

                &:nth-child(3) {
                    border: none;
                }
            }

            .block-filter__button {
                cursor: pointer;

                display: flex;
                flex-direction: column;
                padding-left: 40px;
                justify-content: center;
                height: 100%;
                flex-direction: column;

                .block-filter__header {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                }

                .block-filter__type {
                    padding-left: 5px;
                    color: #858585;
                    font-family: Work Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .block-filter__icon {
                    width: 9px;
                    height: 13px;
                    background-image: url("../img/figure.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: 0.2s ease;

                    &.active {
                        transform: rotate(180deg);
                    }
                }

                .block-filter__value {
                    color: #121B25;

                    font-family: 'Work Sans', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 126%;
                    /* 22.68px */
                    text-transform: capitalize;
                }
            }

            .block-filter__dropdown {
                background-color: #fff;

                position: absolute;
                border-radius: 12px;

                top: 100%;
                left: 0;
                right: 0;

                transition: 0.2s ease;

                opacity: 0;
                pointer-events: none;


                transition: 0.2s ease;

                &.active {
                    opacity: 1;
                    pointer-events: all;

                    transform: translateY(5px);
                }

                //                opacity: 0;

                .block-filter__item {
                    padding: 8px;
                    cursor: pointer;

                    &:hover {
                        background-color: aliceblue;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

.title {
    color: #FFF;
    font-family: Work Sans;
    font-size: clamp(1.875rem, 1.556rem + 1.59vw, 3rem);
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    /* 60.48px */
    text-transform: capitalize;
}

.featured {
    padding: 0 0 122px 0;
    padding-top: clamp(1.25rem, 0.011rem + 6.19vw, 5.625rem);

    .featured__box {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin: 32px 0 0 0;
        align-items: center;
        overflow: auto;

        .featured__img {
            flex: 0 0 auto;
        }
    }
}

// -- -- -- -- -- POPULAR

.popular {
    padding: clamp(1.875rem, -0.426rem + 11.5vw, 10rem) 0;
    background-color: #161f29;
    height: 800px;

    .popualr-slider {
        overflow: hidden;
    }

    .swiper-wrapper {
        width: 100%;

        display: inline-flex;
        justify-content: space-between;
        gap: 12px;

        position: relative;
        left: 0;
        transition: 0.3s ease;
    }


    .popular__slider {
        position: relative;
        top: 42px;

        .popular-slide {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .popular-slide__title {
                color: #FFF;
                font-family: Work Sans;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 126%;
                /* 32.76px */
                letter-spacing: 0.26px;
                text-transform: capitalize;
            }

            .popular-slide__desc {
                color: #D6D6D6;
                font-family: Work Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                /* 30.6px */
            }

            span {
                color: #FFF;
                font-family: Work Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }
        }

        .popular-slide__labels {
            display: flex;
            position: relative;
            gap: 12px;


            .popular-slide__label {
                display: flex;
                align-items: center;
                gap: 4px;

                @media (max-width: 380px) {
                    img {
                        position: relative;
                        right: 42px;
                    }
                }
            }
        }
    }
}

.swiper__buttons {
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: 302px;
    width: 100%;

    .swiper-button-prev {
        background-color: var(--bg-color);
        padding: 8px 12px;
        cursor: pointer;
        ont-family: 'Work Sans', sans-serif;

    }

    .swiper-button-next {
        background-color: var(--bg-color);
        padding: 8px 12px;
        cursor: pointer;
        font-family: 'Work Sans', sans-serif;
    }
}

// -- -- -- -- -- CHOOSE

.choose {
    padding: 120px 0 120px 0;

    choose__content {
        padding: 32px 0 0 0;
    }

    .title {
        text-align: center;
        padding: 0 0 32px 0;
        font-size: clamp(1.875rem, 1.556rem + 1.59vw, 3rem);
    }

    .choose__items {
        @media (max-width: 960px) {
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }

        display: flex;
        justify-content: space-between;

        .choose__item {
            display: flex;
            flex-direction: column;
            gap: 22px;
            justify-content: center;
            text-align: center;
            align-items: center;

            width: 377px;
            height: 350px;

            .choose-item__title {
                font-family: Work Sans;
                font-size: 26px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0.01em;
                text-align: center;

            }

            .choose-item__img {
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #013b34;
                width: 180px;
                height: 180px;
                border-radius: 50%;
            }

        }
    }

    .massa {
        position: relative;
        top: 122px;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        .left__icons {
            position: absolute;
            left: -122px;
        }


        .massa__contents {
            width: 1018px;
            height: 435px;

            .massa__items {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .massa__paragraph {
                    @media (max-width: 659px) {
                        font-size: 20px;
                    }

                    @media (max-width: 400px) {
                        font-size: 16px;
                    }

                    color: #FFF;
                    font-family: Work Sans;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 157%;
                    /* 50.24px */
                    text-transform: capitalize;
                }
            }

            .massa-bottom__items {
                display: flex;
                justify-content: space-between;
            }

            .massa__move {
                display: flex;
                align-items: center;

                .icons {
                    transition: 0.2s ease;
                    font-size: 32px;

                    &:hover {
                        color: var(--bg-btn);
                    }
                }

                .left {
                    border-right: 1px solid #333;
                    padding: 0 8px 0 0;
                    cursor: pointer;
                }

                .right {
                    padding: 0 0 0 8px;
                    cursor: pointer;
                }
            }

            .massa__text {
                h1 {
                    color: #FFF;
                    font-family: Work Sans;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 126%;
                    /* 27.72px */
                    letter-spacing: 0.22px;
                    text-transform: capitalize;
                }

                p {
                    color: #D6D6D6;
                    font-family: Work Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 170%;
                    /* 30.6px */
                }
            }
        }
    }
}

// -- -- -- -- HELP

.help {
    background-color: #161f29;
    padding: 120px 0;

    .help__items {
        @media (max-width: 1430px) {
            flex-direction: column;
        }

        display: flex;
        justify-content: space-between;

        gap: 32px;
        align-items: center;

        .help-right__images {
            display: flex;
            gap: 22px;

            img {
                @media (max-width: 750px) {
                    height: 370px;
                }

                @media (max-width: 538px) {
                    height: 270px;
                }
            }
        }

        .help-left__title {
            @media (max-width: 718px) {
                width: 100%;
            }

            display: flex;
            flex-direction: column;
            width: 630px;

            .help__paragraph {
                @media (max-width: 680px) {
                    font-size: clamp(1.125rem, 0.594rem + 2.65vw, 3rem);
                }

                color: #FFF;
                font-family: Work Sans;
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 126%;
                /* 60.48px */
                text-transform: capitalize;
                padding: 0 0 32px 0;
            }

            .help__title {
                @media (max-width: 680px) {
                    font-size: clamp(0.75rem, 0.608rem + 0.71vw, 1.25rem);
                }


                height: 126px;

                color: #D6D6D6;
                font-family: Work Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                /* 30.6px */
            }

            .help__buttom {
                cursor: pointer;

                padding: 22px 42px;
                background-color: var(--bg-btn);

                display: flex;
                justify-content: center;

                align-items: center;

                position: relative;
                top: 42px;
                transition: 0.2s ease;

                &:hover {
                    background-color: #0c7569;
                }

                a {
                    color: #FFF;
                    font-family: Work Sans;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                }
            }
        }
    }
}

// -- -- -- -- --SIMPLE

.simple {
    padding: 180px 12px;

    .simple__content {
        @media (max-width: 955px) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            gap: 22px;
            position: static;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .simple__title {
            @media (max-width: 522px) {
                width: 282px;
            }

            width: 512px;

            color: #FFF;
            font-family: Work Sans;
            font-size: clamp(1.625rem, 0.882rem + 3.72vw, 4.25rem);
            font-style: normal;
            font-weight: 600;
            line-height: 126%;
            /* 85.68px */
            text-transform: capitalize;
        }

        .simple-right__item {
            @media (max-width: 935px) {
                width: 370px;
                align-items: center;
                justify-content: center;
            }

            @media (max-width: 700px) {
                width: 370px;
                align-items: center;
                justify-content: center;
            }

            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 670px;



            .simple-right__btn {
                @media (max-width: 955px) {
                    text-align: center;
                }

                background: #1AA090;
                padding: 22px 42px;
                width: 222px;
                display: flex;
                align-items: center;
                justify-content: center;

                color: #FFF;
                font-family: Work Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;

                transition: 0.2s ease;

                &:hover {
                    background-color: #04574d;
                }
            }

            .simple-right__paragraph {
                @media (max-width: 420px) {}

                color: #D6D6D6;
                font-family: Work Sans;
                font-size: clamp(0.625rem, 0.483rem + 0.71vw, 1.125rem);
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                /* 30.6px */
            }
        }
    }
}

// -- -- -- -- -- FOOTER

footer {
    background-color: #0c7569;
    padding: 80px 0;


    .footer__items {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1080px) {
            flex-direction: column;
            gap: 32px;
            text-align: center;
        }

        .footer__item {
            &:nth-child(1) {
                width: 340px;
                gap: 22px;

                @media (max-width: 1080px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            display: flex;
            flex-direction: column;
            gap: 8px;

            .footer__title {
                color: #FFF;
                font-family: Work Sans;
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 126%;
                /* 32.76px */
                letter-spacing: 0.26px;
                text-transform: capitalize;
            }

            a {
                color: #D6D6D6;
                font-family: Work Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 170%;
                transition: 0.2s ease;
                /* 30.6px */

                &:hover {
                    color: #161f29;
                    cursor: pointer;
                }
            }
        }

        .icons {
            display: flex;
            gap: 42px;

            i {
                font-size: 28px;
                color: #fff;
                transition: 0.2s ease;

                &:hover {
                    color: #161f29;
                    cursor: pointer;
                }
            }
        }
    }

}






















































































.hero__img {}
